:root {
  --primaryColor: #ecf5ff;
  --secondaryColor: #163659;
  --borderColor: #c6e2ff;
  --errorColor: #FF0000;

  --grey: #bfc3cb;
  --black: #000000;

  --transition: 0.3s ease-out;

  --boxShadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
}
